.card-plan {
  display: flex;
  justify-content: center;
  background-color: hsl(225, 100%, 98%);
  padding: 1px;
  border-radius: 30px;
  margin-left: 800px;
  margin-right: 800px;
}

.card-icon {
  display: flex;
  justify-content: flex-start;
}

.card-link {
  color: blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px;
  border-color: blue;
  font-size: 16px;
  font-family: sans-serif;
}
.card-link:hover {
  color: blue;
  border: none;
}

.card-text {
  font-size: 16px;
  font-family: sans-serif;
}

.card-text p {
  color: grey;
  font-size: 16px;
}
